* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	padding: 30px;
}

.header {
	height: 95vh;
	background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url(Assets/Images/Hero.jpg);
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.logo {
	height: 30px;
}

.heading-primary {
	color: #fff;
	text-transform: uppercase;
}

.heading-primary-main {
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 35px;
}

.heading-primary-sub {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 17.4px;
}